.page-node-type-project{
    .field--name-field-paragraphs{
        .paragraph--type--_-icons:first-child{
            margin-top: -60px;
            .field--name-field-icons{
                > .field__item{
                    &:first-child, &:nth-child(2){
                        padding-top: 140px;
                        @include res(s-m){
                            padding-top: 60px;
                        }
                    }
                }
            }
        }
    }
}

.paragraph--type--_-icons.paragraph{
    position: relative;
    width: 1400px!important;
    margin: 0 auto;
    @include res(s-m){
        max-width: 300px!important;
        font-size: 0.8em;
        padding-bottom: 30px;
    }
    .wrapper{
        position: relative;
    }
    .field--name-field-title h2{
        font-weight: 700;
        text-align: center;
        margin: 0 0 60px;
    }
    .field--name-field-subtitle{
        max-width: 594px;
        margin: 5px auto 50px;
        font-size: 1.2em;
        text-align: center;

    }
    .field--name-field-center-image{
        position: absolute;
        top: 0px;
        width: 100%;
        height: 100%;
        #{$start}: 0;
        text-align: center;
        -webkit-animation: mobilemove 2s infinite linear;animation: mobilemove 2s infinite linear;
        @include res(s-m){
            display: block;
            position: relative;
        }
        @-webkit-keyframes mobilemove {
            0% {top: 0px;}
            50% {top: -10px;}
            100% {top: 0px;}
        }
        @keyframes mobilemove {
            0% {top: 0px;}
            50% {top: -10px;}
            100% {top: 0px;}
        }
        img{
            max-width: 34%;
            max-height: 100%;
            width: auto;
            height: auto;
            @include res(l){
                max-width: 27%;
            }
            @include res(s-m){
                max-width: 100%;
            }
        }
    }
    .field--name-field-icons{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        > .field__item{
            width: 50%;
            padding-top: 130px;
            @include res(l){
                padding-top: 40px;
            }
            @include res(s-m){
                width: 100%;
                text-align: center;
                padding-top: 60px;
            }
            &:first-child{
                padding-top: 0;
                @include res(s-m){
                    padding-top: 30px;
                }
            }
            &:nth-child(2){
                padding-top: 0;
                @include res(s-m){
                    padding-top: 60px;
                }
            }
            .paragraph--type--icon{
                width: 53%;
                opacity: 0;
                transition: all 1s;
                transition-delay: 0.5s;
                position: relative;
                @include res(l){
                    width: 62%;
                }
                @include res(s-m){
                    width: 100%;
                    opacity: 1;
                }
            }
            &:nth-child(2n+1){
                text-align: $end;
                @include res(s-m){
                    text-align: center;
                }
                .paragraph--type--icon{
                    #{$start}: 20px;
                    @include res(s-m){
                        #{$start}: 0;
                    }
                }
            }
            &:nth-child(2n){
                .paragraph--type--icon{
                    margin-#{$start}: auto;
                    #{$end}: 20px;
                    @include res(s-m){
                        #{$end}: 0;
                    }
                }
            }
            .field--name-field-icon{
                img{
                    max-width: 80px;
                }
            }
            .text{
                .field--name-field-icon-title{
                    font-size: 1.35em;
                    font-weight: bold;
                    margin: 14px 0 4px;
                }
                .field--name-field-content{
                    font-size: 1.1em;
                    line-height: 1.6;
                }
            }
        }
        &.count-6{
            > .field__item{
                padding-top: 50px;
                @include res(l){
                    padding-top: 20px;
                }
                @include res(s-m){
                    width: 100%;
                    text-align: center;
                    padding-top: 20px;
                }
                &:first-child, &:nth-child(2){
                    padding-top: 0;
                }
            }
        }
    }
    &.visible{
        .field--name-field-icons > .field__item{
            &:nth-child(2n+1) .paragraph--type--icon{
                #{$start}: 0%;
                opacity: 1;
            }
            &:nth-child(2n) .paragraph--type--icon{
                #{$end}: 0;
                opacity: 1;
            }
        } 
    }
}

.paragraph--type--icon{
    .title-before{
        display: none;
    }
}