.paragraph--type--articles{
    padding: 25px 0 40px;
    overflow: hidden;
    .field--name-field-articles{
        padding-bottom: 40px;
        text-align: center;
        .field__item{
            max-width: 1430px;
            margin: 0 auto;
            .field--name-field-content-article{
                font-size: 1.7em;
                line-height: 1.4;
                margin: 20px auto;
                max-width: 1200px;
                @include res(s-m){
                    font-size: 1em;
                }
            }
            .link a{
                @include button-arrow;
            }
        }
    }
    .owl-item{
        > .field__item{
            padding: 0 50px;
        }
        img{
            width: auto;
            max-width: 200px;
            margin: 0 auto;
        }
    }
    .owl-controls{
        position: absolute;
        top: calc(50% - 15px);
        width: 100%;
        height: 0;
        .owl-prev, .owl-next{
            position: absolute;
            text-indent: -9999px;
            width: 20px;
            height: 30px;
            &:before, &:after{
                content:"";
                width: 20px;
                height: 2px;
                background-color: #000;
                position: absolute;
                #{$start}: 0;
            }
        }
        .owl-prev{
            #{$start}: 0;
            &:before{
                transform: rotate(45deg);
                top: 6px;
            }
            &:after{
                transform: rotate(-45deg);
                top: 19px;
            }
        }
        .owl-next{
            #{$end}: 0;
            &:before{
                transform: rotate(-45deg);
                top: 6px;
            }
            &:after{
                transform: rotate(45deg);
                top: 19px;
            }
        }
    }
}

.paragraph--type--last-articles{
    overflow: hidden;
    padding-top: 70px;
    @include res(s-m-l){
        padding-bottom: 53px;
        padding-top: 20px
    }
    &.style-grid .view-articles{
        @include width;
        @include res(s-m){
            padding: 0;
        }
        .view-content{
            display: flex;
            justify-content: space-between;
            @include res(l){
                flex-wrap: wrap;
            }
            .views-row{
                width: 27%;
                box-shadow: 9px 14px 31px rgba(0, 0, 0, 0.09);
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                &:nth-child(4){
                    display: none;
                    @include res(l){
                        display: flex;
                    }
                }
                @include res(xl){
                    width: 31%;
                }
                @include res(l){
                    width: 48%;
                    margin-bottom: 30px;
                }
                @include res(s-m){
                    width: 100%;
                }
                .views-field-field-image{
                    overflow: hidden;
                    border-radius: 15px 15px 0 0;
                    img{
                        transition: transform 0.5s;
                    }
                }
                .views-field-title{
                    font-size: 1.2em;
                    font-weight: 700;
                    padding: 35px 28px 0;
                    @include res(xs){
                        font-size: 1em;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                .views-field-field-teaser{
                    padding: 20px 28px 0;
                    line-height: 1.4;
                    @include res(s-m-l){
                        padding-top: 10px;
                    }
                    @include res(xs){
                        font-size: 0.8em;
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                }
                .views-field-view-node{
                    margin-top: auto;
                    margin-#{$start}: auto;
                    padding: 28px;
                    @include res(s-m-l){
                        padding: 10px 28px 15px
                    }
                    @include res(xs){
                        padding-left: 10px;
                        padding-right: 10px;
                    }
                    a{
                        @include button-arrow;
                    }
                }
                &:hover{
                    .views-field-field-image img{
                        transform: scale(1.05);
                    }
                }
            }
            &.owl-1 > .views-row{
                display: none;
                &:nth-child(1){
                    display: flex;
                    width: 100%;
                }
            }
        }
    }
    &.style-list{
        .view, &.view{
            @include width;
            width: 1620px;
            .views-row{
                display: flex;
                margin-bottom: 100px;
                @include res(l){
                    font-size: 0.9em;
                    flex-wrap: wrap;
                    margin-bottom: 40px;
                }
                @include res(s-m){
                    flex-wrap: wrap;
                    font-size: 0.9em;
                    margin-bottom: 40px;
                }
                .views-field-field-image{
                    width: 22%;
                    margin-#{$end}: 4%;
                    @include res(l){
                        width: 48%;
                    }
                    @include res(s-m){
                        width: 100%;
                        margin-#{$end}: 0;
                    }
                }
                .views-field-title{
                    width: calc(72% - 200px);
                    @include res(l){
                        width: 48%;
                    }
                    @include res(s-m){
                        width: 100%;
                    }
                    .field-content{
                        max-width: 700px;
                    }
                    .title{
                        font-size: 1.35em;
                        font-weight: 600;
                        margin-bottom: 22px;
                        @include res(s-m){
                            margin-bottom: 0px;
                            margin-top: 10px;
                        }
                    }
                    .teaser{
                        line-height: 1.3;
                        line-height: 1.3;
                        font-size: 0.9em;
                    }
                }
                .views-field-view-node{
                    width: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    @include res(l){
                        width: 100%;
                        justify-content: flex-start;
                        margin-top: 20px;
                    }
                    @include res(s-m){
                        width: 100%;
                        justify-content: flex-start;
                        margin-top: 20px;
                    }
                    a{
                        @include arrow-left-right;
                    }
                }
            }
        }
    }
    .view-footer{
        padding-top: 75px;
        padding-bottom: 20px;
        text-align: $end;
        a{
            @include arrow-left-right;
        }
    }
}