.paragraph.paragraph--type--cubes{
    .width-wrapper{
        padding-top: 50px;
        width: 1620px;        
        .field--name-field-title{
            padding: 0;
            width: 100%;
        }
        > .field--name-field-subtitle{
            max-width: 1170px;
            text-align: center;
            margin: -50px auto 80px;
            font-size: 0.9em;
            line-height: 1.4;
            @include res(s-m-l){
                margin-top: -10px;
                font-size: 0.7em;
                margin-bottom: 60px;
            }
            h2{
                font-weight: normal;
                margin: 0;
                @include res(s-m){
                    text-align: center;
                }
            }
        }
    }
    .field--name-field-cubes{
        display: flex;
        flex-wrap: wrap;
        @include res(s-m){
            font-size: 0.85em;
        }
        > .field__item{
            position: relative;
            margin-bottom: 50px;
            box-sizing: border-box;
            padding-bottom: 1.25%;
            @include res(s-m-l){
                padding-bottom: 10px;
            }
            @include res(m){
                padding-bottom: 20px;
                .paragraph{
                    max-width: 300px;
                    margin: 0 auto;
                }
            }
            @include res(s){
                width: 100%;
                margin-#{$end}: 0;
                margin-bottom: 50px;
                padding-bottom: 20px;
            }
            .field--name-field-title{
                h2{
                    font-size: 1em;
                    font-weight: bold;
                    margin: 0 0 10px;
                    padding: 0;
                    @include res(s-m){
                        font-size: 1.1em;
                    }
                }
            }
            .field--name-field-subtitle, .field--name-field-content-long{
                font-size: 0.9em;
                line-height: 1.55;
                @include res(s-m){
                    font-size: 0.95em;
                }
                [dir=ltr] .path-frontpage &{
                    font-size: 0.72em;
                }
            }
        }
    }
    &.number-in-line-3-items{
        .field--name-field-cubes{
            > .field__item{
                width: 30%;
                margin-#{$end}: 5%;
                &:nth-child(3n){
                    margin-#{$end}: 0;
                    @include res(l){
                        margin-#{$end}: 6%;
                    }
                    @include res(m){
                        margin-#{$end}: 0%;
                    }
                    @include res(s){
                        margin-#{$end}: 0;
                    }
                }
                @include res(l){
                    width: 47%;
                    margin-#{$end}: 6%;
                    &:nth-child(2n){
                        margin-#{$end}: 0;
                    }
                }
                @include res(m){
                    width: 100%;
                    margin-#{$end}: 0%;
                }
                @include res(s){
                    width: 100%;
                    margin-#{$end}: 0;
                }
            }
        }
    }
    &.number-in-line-4-items{
        .field--name-field-cubes{
            > .field__item{
                width: 23%;
                margin-#{$end}: 2.6667%;
                &:nth-child(4n){
                    margin-#{$end}: 0;
                    @include res(l){
                        margin-#{$end}: 6%;
                    }
                    @include res(m){
                        margin-#{$end}: 0%;
                    }
                    @include res(s){
                        margin-#{$end}: 0;
                    }
                }
                @include res(l){
                    width: 47%;
                    margin-#{$end}: 6%;
                    &:nth-child(2n){
                        margin-#{$end}: 0;
                    }
                }
                @include res(m){
                    width: 100%;
                    margin-#{$end}: 0%;
                }
                @include res(s){
                    width: 100%;
                    margin-#{$end}: 0;
                }
            }
        }
    }
    &.number-in-line-5-items{
        .field--name-field-cubes{
            > .field__item{
                width: 18%;
                margin-#{$end}: 2.5%;
                &:nth-child(5n){
                    margin-#{$end}: 0;
                    @include res(xl){
                        margin-#{$end}: 5%;
                    }
                    @include res(l){
                        margin-#{$end}: 6%;
                    }
                    @include res(m){
                        margin-#{$end}: 0%;
                    }
                    @include res(s){
                        margin-#{$end}: 0;
                    }
                }
                @include res(xl){
                    width: 30%;
                    margin-#{$end}: 5%;
                    &:nth-child(3n){
                        margin-#{$end}: 0;
                    }
                }
                @include res(l){
                    width: 47%;
                    margin-#{$end}: 6%;
                    &:nth-child(2n){
                        margin-#{$end}: 0;
                    }
                }
                @include res(m){
                    width: 100%;
                    margin-#{$end}: 0%;
                }
                @include res(s){
                    width: 100%;
                    margin-#{$end}: 0;
                }
                .field--name-field-title h2{
                    font-size: 0.85em;
                    @include res(s-m){
                        font-size: 1em;
                    }
                }
                .field--name-field-content-long {
                    font-size: 0.75em;
                    margin-bottom: -35px;
                    @include res(s-m){
                        font-size: 0.95em;
                    }
                }
            }
        }
    }
    .more{
        @include arrow-left-right;
        text-align: $end;
        cursor: pointer;
    }
    .hide-section{
        height: 0;
        overflow: hidden;
    }
    &.style-simple{
        text-align: center;
        .paragraph--type--colored-icon .wrapper-content .icon{
            margin: 0 auto;
        }
    }
    &.style-cubes{
        .field--name-field-cubes{
            > .field__item{
                box-shadow: 0px 3px 6px #00000029;
                padding: 1.25% 2.5%;
                background-color: #fff;
                &:before{
                    width: 8px;
                    height: 73px;
                    background-color: $orange;
                    position: absolute;
                    top: 0;
                    #{$start}: 0;
                    content: "";
                }
                @include res(s-m-l){
                    padding: 10px 20px;
                }
                @include res(m){
                    padding: 20px 40px;
                }
                @include res(s){
                    padding: 20px 40px;
                }
            }
        }
    }
    &.style-boxes{
        .paragraph--type--article{
            article a{
                box-shadow: 9px 14px 31px #00000017;
                border-radius: 15px;
                background-color: #fff;
                display: flex;
                flex-direction: column;
                .field--name-field-menu-image{
                    img{
                        border-radius: 15px 15px 0 0;
                    }
                }
                .text{
                    padding: 30px;
                    .field--name-title{
                        font-size: 1.2em;
                        font-weight: bold;
                        margin-bottom: 10px;
                        display: block;
                    }
                    .details{
                        padding-top: 23px;
                        margin-top: auto;
                        text-align: $end;
                        .link{
                            @include button-arrow();
                        }
                    }
                }
            }
        }
    }
    &.center-1{
        .width-wrapper > .field--name-field-title{
            text-align: center;
        }
    }
    &.style-client{
        .width-wrapper{
            width: 1500px;
        }
        &.owl-1 > div{
            display: block;
        }
        .owl-item{
            display: flex;
            align-items: center;
        }
        .field--name-field-title{
            h2{
                margin-bottom: 60px;
            }
        }
        .field--name-field-cubes{
            justify-content: center;
            > .field__item{
                display: none;
                &:first-child{
                    display: block;
                }
                .paragraph--type--grid-item-client{
                    margin-bottom: -50px;
                    .field--name-field-content-long{
                        &:before{
                            color: #d11a2e;
                        }
                    }
                }
            }
            .field__item{
                margin: 0;
                width: 100%;
                .paragraph--type--grid-item-client{
                    text-align: center;
                    font-size: 0.9em;
                    max-width: 340px;
                    margin: 0 auto;
                    line-height: 1.5;
                    max-width: 100%;
                    .field--name-field-content-long{
                        font-size: 0.85em;
                        padding-top: 10px;
                        @include res(s-m){
                            font-size: 1em;
                        }
                    }
                    .field--name-field-name{
                        font-size: 1.25em;
                        font-weight: bold;
                        margin-top: 30px;
                        &:before{
                            content: "";
                            width: 125px;
                            height: 3px;
                            display: block;
                            margin: 24px auto 17px;
                        }
                    }
                    .field--name-field-role{
                        color: #8A8A8A;
                        font-weight: 600;
                        font-size: 0.9em;
                    }
                }
            }
            .owl-item:nth-child(3n+1){
                .field__item{
                    .paragraph--type--grid-item-client{
                        .quote-svg{
                            path{
                                fill: #ec6623;
                            }
                        }
                        .field--name-field-name{
                            &:before{
                                background: #ec6623;
                            }
                        }
                    }
                }
            }
            .owl-item:nth-child(3n+2){
                .field__item{
                    .paragraph--type--grid-item-client{
                        .quote-svg{
                            path{
                                fill: #6eb639;
                            }
                        }
                        .field--name-field-name{
                            &:before{
                                background: #6eb639;
                            }
                        }
                    }
                }
            }
            .owl-item:nth-child(3n+3){
                .field__item{
                    .paragraph--type--grid-item-client{
                        .quote-svg{
                            path{
                                fill: #5bc1d4;
                            }
                        }
                        .field--name-field-name{
                            &:before{
                                background: #5bc1d4;
                            }
                        }
                    }
                }
            }
            .owl-dots{
                display: none;
            }
        }
    }
    .field--name-field-cubes > .field__item .paragraph--type--image{
        position: relative;
        .field--name-field-title{
            max-width: calc(100% - 16px);
            position: absolute;
            bottom: 13px;
            #{$start}: 8px;
            background-color: rgba(256,256,256,0.95);
            h2{
                margin: 0;
                font-size: 0.8em;
                font-weight: 600;
                padding: 5px 9px;
            }
        }
        .field--name-field-image{
            img{
                border-radius: 18px;
            }
        }
    }
    .field--name-field-cubes{
        > .field__item:nth-child(4n+1){
            .paragraph--type--image{
                .field--name-field-title{
                    border-#{$start}: 2px solid #D11B2E;
                }
            }
        }
        > .field__item:nth-child(4n+2){
            .paragraph--type--image{
                .field--name-field-title{
                    border-#{$start}: 2px solid #EC6623;
                }
            }
        }
        > .field__item:nth-child(4n+3){
            .paragraph--type--image{
                .field--name-field-title{
                    border-#{$start}: 2px solid #6EB639;
                }
            }
        }
        > .field__item:nth-child(4n){
            .paragraph--type--image{
                .field--name-field-title{
                    border-#{$start}: 2px solid #5CC1D4;
                }
            }
        }
    }
}

.paragraph--type--colored-icon{
    height: 100%;
    .wrapper-content{
        height: 100%;
        box-sizing: border-box;
        position: relative;
        .icon{
            width: 75px;
            height: 75px;
            border-radius: 50%;
            padding: 20px;
            box-sizing: border-box;
            margin: 0 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;
            position: relative;
        }
        .icon-without-bg{
            padding: 0 25px;
            height: 50px;
            .field--name-field-icon{
                display: flex;
                align-items: center;
            }
            img{
                max-height: 50px;
                width: auto;
            }
        }
        .text{
            padding: 60px 25px 20px;
            margin-top: -35px;
            border-radius: 11px;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            .field--name-field-title{
                font-weight: bold;
            }
        }
        .topnumber{
            font-size: 2.25em;
            font-weight: 800;
            opacity: 0.3;
            top: 20px;
            #{$end}: 16px;
            position: absolute;
        }
        .line-wrapper{
            margin-top: auto;
            .line{
                height: 5px;
                width: 100%;
                margin: 40px 0 0px;
            }
        }
        .field--name-field-link{
            font-size: 0.8em;
            margin-top: auto;
            a{
                @include arrow-left-right;
                background-size: 15px;
                background-position: $end top 6px;
                padding-#{$end}: 27px;
                padding-bottom: 4px;
            }
        }
    }
    &.icon-in-corner-1{
        max-width: 400px;
        .wrapper-content{
            .icon{
                width: 60px;
                height: 60px;
                padding: 10px;
                margin-#{$start}: auto;
                margin-#{$end}: -30px;
            }
            .text{
                border-radius: 0;
                border-bottom-#{$end}-radius: 82px;
                padding-top: 30px;
                padding-#{$start}: 20px;
                padding-bottom: 60px;
                padding-#{$end}: 50px;
            }
        }
        &.id-314{
            .wrapper-content{
                .icon{
                    img{
                        position: absolute;
                        top: -28px;
                        right: 9px;
                        width: auto;
                        height: 80px;
                    }
                }
            }
        }
    }
    &.icon-in-center-1{
        .field--name-field-icon{
            img{
                margin: 0 auto;
            }
        }
    }
    &.image-place-right{
        .image-place-right{
            .right-side{
                .field--name-field-media-image{
                    text-align: $start;
                }
            }
        }
    }
}

.id-871{
    .field--name-field-cubes{
        justify-content: center;
        > .field__item{
            &:after{
                content: "";
                background: url(/sites/default/files/2023-12/arrow-down.svg) no-repeat;
                width: 120px;
                height: 106px;
                position: absolute;
                #{$end}: -45px;
                background-size: 61px;
                top: 0px;
                html[dir=ltr] &{
                    transform: rotate(180deg);
                }
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            @include res(xl){
                &:nth-child(3n){
                    &:after{
                        display: none;
                    }
                }
            }
            @include res(l){
                &:nth-child(2n), &:nth-child(4n){
                    &:after{
                        display: none;
                    }
                }
            }
            @include res(s-m){
                &:after{
                    display: none;
                }
            }
        }
    }
}