.paragraph--type--editor.paragraph {
    margin-top: 20px;
    max-width: 800px;
    margin: 50px auto;
    @include res(s-m){
        padding: 0 30px;
    }
    &.full-width{
        max-width: 1520px;
    }
    .field--name-field-title h2{
        padding: 0;
        margin-bottom: 0;
        font-size: 1.7em;
        @include res(s-m){
            font-size: 1.2em;
        }
    }
    .field--name-field-contentlong{
        line-height: 1.8;
    }
}

.field--name-field-paragraphs > .paragraph--type--editor.paragraph{
    padding-left: 50px;
    padding-right: 50px;
    @include res(s-m){
        padding-left: 20px;
        padding-right: 20px;
    }
}


.text-formatted{
    @include res(s-m){
        font-size: 0.9em;
    }
    &.field--name-field-contentlong{
        max-width: 1000px;
        margin: 0 auto;
        .full-width &{
            max-width: 100%;
        }
    }
    h2.blue{
      color: #009CDE;
    }
    ul.arrow{
      padding: 0;
      li{
          list-style: none;
          background: url(/themes/comrax/images/ul-arrow.svg) no-repeat $start top;
          padding-#{$start}: 45px;
          padding-bottom: 4px;
          @include res(s-m){
            background-size: 20px;
            padding-#{$start}: 32px;
            padding-top: 0px;
            background-position: $start top 2px;
          }
      }
      &.orange{
        li{
            background: url(/themes/comrax/images/ul-arrow-orange.svg) no-repeat $start top;
        }
      }
      &.green{
        li{
            background: url(/themes/comrax/images/ul-arrow-green.svg) no-repeat $start top;
        }
      }
      &.red{
        li{
            background: url(/themes/comrax/images/ul-arrow-red.svg) no-repeat $start top;
        }
      }
    }
    ul.drop{
        padding: 0;
        li{
            list-style: none;
            background: url(/themes/comrax/images/drop.png) no-repeat $start top;
            background-size: 20px;
            padding-#{$start}: 45px;
            padding-top: 0px;
            @include res(s-m){
                background-size: 13px;
                padding-#{$start}: 24px;
                padding-top: 0px;
                background-position: $start top 3px;
              }
        }
    }
    ul.list-circle{
        padding: 0;
        li{
            list-style: none;
            background: url(/themes/comrax/images/ul-circle.svg) no-repeat $start top;
            background-size: 26px;
            padding-#{$start}: 60px;
            padding-top: 0px;
            padding-bottom: 20px;
            @include res(s-m){
                background-size: 20px;
                padding-#{$start}: 40px;
                padding-top: 0px;
                background-position: $start top;
                font-size: 0.95em;
              }
        }
    }
    ul.list-button{
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
            border: 2px solid $orange;
            border-radius: 33px;
            padding: 0px 30px;
            margin-#{$end}: 18px;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 0.8em;
            height: 42px;
            @include res(s-m){
                font-size: 0.95em;
                padding: 0px 20px;
                margin-#{$end}: 10px;
                height: 30px;
            }
        }
    }
    ul{
        @include res(s-m){
            text-align: $start;
        }
      li{
        margin-bottom: 12px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    .small{
        font-size: 0.75em;
    }
    table{
        width: 100%;
        @include res(s-m){
            font-size: 0.8em;
        }
        th, td{
            padding: 10px 30px!important;
            @include res(s-m){
                padding: 5px 10px!important;
            }
            p{
                margin: 0!important;
            }
        }
        thead{
            font-size: 1.2em;
            @include res(m){
                font-size: 1em;
            }
            @include res(s){
                font-size: 0.8em;
            }
        }
        tbody{
            tr{
                height: 60px;
            }
            tr:nth-child(2n+1){
                background-color: #F2F2F2;
            }
        }
        .stars{
            margin: 0 auto;
            &.orange{
                background: url(/themes/comrax/images/star-orange.svg) repeat-x;
                @include res(s-m){
                    background-size: 13px;
                }
            }
            &.gray{
                background: url(/themes/comrax/images/star-gray.svg) repeat-x;
                @include res(s-m){
                    background-size: 13px;
                }
            }
            &.stars-5{
                width: 175px;
                @include res(s-m){
                    width: 66px;
                }
            }
            &.stars-4{
                width: 142px;
                @include res(s-m){
                    width:53px;
                }
            }
            &.stars-3{
                width: 108px;
                @include res(s-m){
                    width: 40px;
                }
            }
            &.stars-2{
                width: 71px;
                @include res(s-m){
                    width: 26px;
                }
            }
            &.stars-1{
                width: 40px;
                @include res(s-m){
                    width: 14px;
                }
            }
        }
        .drupal{
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:after{
                content: "";
                background: url(/themes/comrax/images/drop.png) no-repeat $end center;
                background-size: auto;
                width: 34px;
                height: 46px;
                display: block;
                background-size: 100%;
                margin-#{$start}: 10px;
                @include res(s-m){
                    width: 18px;
                    height: 28px;
                    margin-#{$start}: 5px;
                }
            }
        }
        .wordpress{
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:after{
                content: "";
                background: url(/themes/comrax/images/wp.svg) no-repeat $end center;
                background-size: auto;
                width: 47px;
                height: 44px;
                display: block;
                background-size: 100%;
                margin-#{$start}: 10px;
                @include res(s-m){
                    width: 27px;
                    height: 28px;
                    margin-#{$start}: 5px;
                }
            }
        }
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        .button{
            cursor: pointer;
            @include button;
            border-radius: 7px!important;
            font-weight: 600;
            padding: 11px 21px;
            margin: 10px 0;
            margin-#{$end}: 10px;
            &.black-border{
                background-color: #fff;
                color: $default;
                border: 3px solid;
            }
            &.envelop{
                background: url(/themes/comrax/images/button-email.svg) no-repeat $start 17px center $orange;
                padding-#{$start}: 60px;
            }
            &.calendar{
                background: url(/themes/comrax/images/button-calendar.svg) no-repeat $start 17px center;
                padding-#{$start}: 60px;
            }
        }
    }
}