/**
 * @file
 * Styles for ip2country module.
 */

#throbber.working {
  padding: 0 1.5em 0 0; /* LTR */
  color: green;
  background-image: url(/core/misc/throbber-active.gif);
  background-repeat: no-repeat;
  /* 20px = half height of throbber */
  background-position: 100% -20px; /* LTR */
}
[dir="rtl"] #throbber.working {
  padding: 0 0 0 1.5em;
  background-position: 0 -20px;
}

#throbber.completed {
  color: green;
}

#throbber.message,
#lookup-message.message {
  color: red;
}
