.page-node-type-article{
    .with-image main{
        padding-top: 0;
    }
    .header-article{
        position: relative;
        .background, .field--name-field-main-image{
            img{
              width: 100%;
              min-height: 300px;
              object-fit: cover;
            }
          }
        .on-image{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            #{$end}: 0;
            display: flex;
            align-items: center;
            padding: 0 20px;
            box-sizing: border-box;
            @include res(s){
                align-items: flex-end;
                padding-bottom: 20px;
            }
            &:after{
                content:"";
                background: rgb(0,0,0);
                background: linear-gradient(180deg, rgba(0,0,0,0.62) 0%, rgba(0,0,0,0) 100%);
                width: 100%;
                height: 100%;
                top: 0;
                #{$end}: 0;
                position: absolute;
            }
            h1{
                color: #fff;
            }
            .wrapper{
                z-index: 10;
                @include width;
                width: 1620px;
            }
        }
        .field--name-field-main-image-mobile{
            display: none;
            @include res(s-m){
                display: block;
            }
            + .field--name-field-main-image{
                @include res(s-m){
                    display: none;
                }
            }
        }
    }
    .node__content{
        h1{
            @include width;
            margin: 30px auto 50px!important;
            text-align: center;
        }
        .created-date{
            text-align: center;
            font-size: 0.8em;
            display: flex;
            justify-content: center;
            @include res(s-m){
                margin-#{$start}: 0px;
            }
            .field--name-field-author{
                font-weight: bold
            }
            span{
                margin: 0 5px;
            }
            .field--name-field-author{
                margin-#{$start}: 5px; 
            }
        }
        .body-share{
            @include width;
            margin-bottom: 50px;
            width: 1200px;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            @include res(s-m){
                display: block;
            }
            .share{
                width: 100px;
                position: sticky;
                top: 100px;
                margin-top: 20px;
                @include res(s-m){
                    display: flex;
                    width: 100%;
                    align-items: center;
                    background-color: #fff;
                    top: 66px;
                    padding-top: 13px;
                }
                > div{
                    margin-bottom: 15px;
                    display: block;
                    margin-#{$end}: 15px;
                    &:hover:not(.label){
                        filter: invert(68%) sepia(100%) saturate(7414%) hue-rotate(23deg) brightness(1.2) contrast(1.2);
                    }
                }
            }
            .field--name-body{
                width: calc(100% - 100px);
                @include res(s-m){
                    width: 100%;
                }
                a{
                    text-decoration: underline;
                    color: $orange;
                }
            }
        }
    }
}

#block-views-block-articles-block-5{
    @include width;
    margin-bottom: 80px;
    .view-content{
        display: flex;
        margin-bottom: 20px;
        @include res(s-m){
            display: block;
        }
        .views-row{
            width: 30%;
            margin-#{$end}: 5%;
            box-shadow: 9px 14px 31px #00000017;
            background-color: #fff;
            font-size: 0.9em;
            @include res(s-m){
                width: 100%;
                margin-bottom: 30px;
            }
            &:nth-child(3n){
                margin-#{$end}: 0;
            }
            .views-field-title{
                height: 100%;
            }
            a{
                display: flex;
                flex-direction: column;
                height: 100%;
            }
            .title{
                font-weight: 600;
                padding: 20px 20px 10px;
            }
            .date{
                margin-top: auto;
                padding: 0px 20px 20px;
            }
        }
    }
}