.path-frontpage{
    &.page-node-type-page .with-title-image .top-area .on-image{
        justify-content: flex-end;
        > .width-wrapper{
            align-items: flex-start;
            margin-bottom: 270px;
            [dir="ltr"] & {
                align-items: center;
            }
            @include res(bgwidth){
                margin-bottom: 15vw;
            }
            @include res(l){
                margin-bottom: 20px;
            }
            @include res(s-m){
                margin-bottom: 0px;
            }
            h1{
                text-align: initial;
                [dir="ltr"] & {
                    text-align: center;
                    font-size: 4em;
                    @include res(xl){
                        font-size: 3em;
                    }
                    @include res(l){
                        font-size: 2.5em;
                    }
                    @include res(s-m){
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
    .line{
        width: 98%;
        margin: 0 1%;
        position: absolute;
        z-index: 10;
        opacity: 0;
        transition: opacity 0.5s;
        @include res(s-m-l){
            display: none;
        }
        [dir="ltr"] & {
            display: none;
        }
        .wrapper{
            background: url(/themes/comrax/images/front-line.svg) no-repeat top center;
            background-size: auto;
            background-size: 100%;
            transition: opacity 0.5s;
            max-width: 1805px;
            margin: 0 auto;
            width: 100%;
            height: 100%;
        }
    }
    .on-image .width-wrapper{
        width: 1730px;
    }
}