.page-node-type-project{
  article.node--type-project{
    overflow: hidden;
  }
  .node__content{
    @include res(s-m){
      margin-top:50px;
    }
  }
    .header-project{
        position: relative;
        min-height: 80vh;
        .on-image{
           position: absolute; 
           width: 100%;
           height: 100%;
           top: 0;
           #{$end}: 0;
           display: flex;
           .wrapper{
            @include width;
            @include res(s-m-l){
              padding-left: 40px;
              padding-right: 40px;
              @include res(s-m){
                padding-left: 30px;
                padding-right: 30px;
              }
              .field--name-field-logo{
                max-width: 180px;
                @include res(s-m){
                  max-width: 120px;
                  max-height: 60px;
                  img{
                    max-width: 120px;
                    max-height: 60px;
                    width: auto;
                  }
                }
              }
            }
            &.white{
              h1, h3, h2{
                color: #fff;
              }
            }
           }
           h1.page-title{
               padding: 0;
               margin: 15px 0 0;
               h2{
                font-size: 1em;
                font-weight: bold;
                @include res(s-m){
                  font-size: 0.8em;
                  line-height: 1.2;
                }
               }
           }
           h2{
            font-size: 1.2em;
            line-height: 1.5;
            font-weight: normal;
            margin: 6px 0 0;
            max-width: 600px;
            @include res(l){
              font-size: 1.2em;
            }
            @include res(s-m){
              font-size: 0.8em;
            }
           }
        }
    }
    .text-header-place-top-right{
      .header-project{
        .on-image{
           padding-top: 190px;
           @include res(l){
            padding-top: 160px;
           }
           @include res(s-m){
            position: relative;
            padding-top: 100px;
           }
        }
      }
    }
    .text-header-place-center-right{
      .header-project{
        .on-image{
           align-items: center;
           @include res(s-m-l){
            display: block;
            padding-top: 150px;
           }
        }
      }
    }
    main .field--name-field-paragraphs{
        > .paragraph{
            @include width;
            width: 1430px;
            margin-bottom: 90px;
            @include res(s-m){
              margin-bottom: 20px;
              padding: 0;
              &.paragraph--type--editor{
                padding: 0 30px;
              }
            }
            &.paragraph--type--image-text{
              width: 100%;
              padding-top: 40px;
            }
            &.paragraph--type--projects{
              @include res(s-m){
                margin-top: 70px;
              }
            }
        }
    }
}

// parallax


.parallax {
    height: 973px;
    max-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include res(width){
      height: 684px;
    }
    @include res(xxl){
      height: 600px;
    }
    @include res(xl){
      height: 520px;
    }
    @include res(l){
      height: 500px;
    }
    @include res(s-m){
      height: 100%;
      max-height: initial;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 100%;
      padding-bottom: 50px;
    }
    &.for-mobile{
        display: none;
        @include res(s-m){
            display: block;
        }
    }
    &.for-mobile + .for-desktop{
        @include res(s-m){
            display: none;
        }
    }
  }

.float-prev-next-link{
  display: flex;
  position: fixed;
  font-size: 0.9em;
  bottom: 30px;
  width: 100%;
  z-index: 16;
  justify-content: center;
  opacity: 0;
  @include res(s-m){
    display: none;
  }
  .scroll &{
    opacity: 1;
  }
  .prevnext-element{
    display: flex;
    &.previous a{
      background: url(/themes/comrax/images/arrow-#{$start}.svg) no-repeat $start 15px center;
      padding-top: 4px; 
      padding-bottom: 4px;
      padding-#{$start}:70px;
      padding-#{$end}:40px;
      border-#{$end}: 1px solid #eee;
    } 
    &.next a{
      background: url(/themes/comrax/images/arrow-#{$end}.svg) no-repeat $end 15px center;
      padding-top: 4px; 
      padding-bottom: 4px;
      padding-#{$start}:40px;
      padding-#{$end}:70px;
    }   
    &.no-link{
      opacity: 0.3;
      &.previous{
        background: url(/themes/comrax/images/arrow-#{$start}.svg) no-repeat $start 15px center;
        padding-top: 4px; 
        padding-bottom: 4px;
        padding-#{$start}:70px;
        padding-#{$end}:40px;
        border-#{$end}: 1px solid #eee;
      }
      &.next{
        background: url(/themes/comrax/images/arrow-#{$end}.svg) no-repeat $end 15px center;
        padding-top: 4px; 
        padding-bottom: 4px;
        padding-#{$start}:40px;
        padding-#{$end}:70px;
      }
    }
  }
  .wrapper{
    box-shadow: 0px 2px 8px rgba(25,12,5,0.24);
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    padding: 6px 0;
  }
}

.node__content{
  .prevnext-element{
    display: none;
  }
}